<%= stylesheet_link_tag "user/users", :media => "all" %>

<% @posts.each do |post| %>
  <dic class='container'>
  <div class='row'>
      <div class='col-8 offset-2'>
      <dic class='card'>
        <div class='row no-gutters'>
          <div class='col-sm-3'>
              <img class='card-img'>
                <% if post.img_url %>
                  <%= image_tag post.img_url%>
                <% end %>
              </img>
          </div>
          <div class='col-sm-9'>
          <div class='card-body'>
            <h2 class='card-title'><%= post.title %></h2>
            <p class='card-text'><%= simple_format post.content %></p>
            <span class='text-muted'><%= post.created_at.to_s(:datetime_jp)  %></span>
            <a class='card-link'>
              <% if current_user == post.user %>
                <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </a>
          </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>
<% end %>
